* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}

input,
output {
    border: none;
    background: none;
    outline: none;
}

input,
output:focus {
    outline: none;
}

/* ====================================================== main */

.container {
    max-width: 1273px;
    margin: 0 auto;
    padding: 0 20px;
}