* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

input,
output {
  border: none;
  background: none;
  outline: none;
}

input,
output:focus {
  outline: none;
}

/* ====================================================== main */
.container {
  max-width: 1273px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #190422;
  padding: 17px 0 131px;
}
.header .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-img img {
  width: 100%;
}
.header .nav-menu {
  display: flex;
}
.header .nav-menu ul {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header .nav-menu ul a {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: white;
}
.header .nav-menu ul a:hover {
  color: #d7b9fd;
}
.header .nav-menu button {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  border-radius: 7px;
  padding: 12px 32px 12px 25px;
  background-color: #d7b9fd;
  transition: all 0.4s linear;
}
.header .nav-menu button:hover {
  background-color: #fff;
}
.header .nav-burger {
  display: none;
}
.header-content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.header-left {
  max-width: 631px;
}
.header-left h1 {
  font-family: "Poppins";
  font-size: 80px;
  font-weight: 600;
  line-height: 96px;
  color: #fff;
  margin-top: 136px;
}
.header-left p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 31.6px;
  color: #fff;
  margin-top: 32px;
}
.header-left button {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  margin-top: 32px;
  border-radius: 7px;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #D7B9FD;
  transition: all 0.4s linear;
  border: none;
}
.header-left button:hover {
  background-color: #fff;
}
.header-right img {
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .header {
    padding: 17px 0 98px;
  }
  .header .nav-menu {
    display: none !important;
  }
  .header .nav-burger {
    display: inline-block !important;
  }
  .header-content {
    margin-top: 80px;
  }
  .header-left {
    max-width: 370px;
  }
  .header-left h1 {
    margin: 0;
    font-size: 48px;
  }
  .header-left p {
    font-size: 20px;
  }
  .header-right img {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .header {
    padding: 17px 0 75px;
  }
  .header-content {
    margin-top: 60px;
    display: inline-block;
  }
  .header-left {
    margin-bottom: 32px;
  }
  .header-left p {
    margin-top: 24px;
  }
  .header-left button {
    margin-top: 24px;
  }
}
.section-content {
  display: flex;
  gap: 97px;
}
.section-left {
  margin-top: 190px;
  margin-bottom: 52px;
}
.section-right {
  margin-top: 313px;
  margin-bottom: 190px;
}
.section-right h1 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 58.8px;
}
.section-right p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 31.6px;
  margin-top: 16px;
}
.section-right button {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  border-radius: 7px;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #d7b9fd;
  transition: all 0.4s linear;
  border: none;
  margin-top: 15px;
}
.section-right button:hover {
  background-color: #fff;
}

@media screen and (max-width: 1110px) {
  .section-content {
    display: flex;
    gap: 70px;
  }
  .section-right {
    margin-top: 160px;
  }
  .section-right h1 {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    line-height: 39.2px;
  }
  .section-right p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 31.6px;
  }
  .section-left {
    margin-top: 140px;
  }
  .section-left a img {
    max-width: 366px;
  }
}
@media screen and (max-width: 887px) {
  .section-content {
    display: flex;
    gap: 30px;
  }
  .section-right {
    margin-top: 160px;
  }
  .section-right h1 {
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 600;
    line-height: 30.2px;
  }
  .section-right p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 28.6px;
  }
  .section-left {
    margin-top: 140px;
  }
  .section-left a img {
    max-width: 366px;
  }
}
@media screen and (max-width: 700px) {
  .section-content {
    display: flex;
    display: inline-block;
    gap: 30px;
  }
  .section-right {
    margin-top: 50px;
  }
  .section-right h1 {
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 600;
    line-height: 30.2px;
    margin-top: 24px;
  }
  .section-right p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 28.6px;
    margin-top: 24px;
  }
  .section-right button {
    margin-top: 24px;
  }
  .section-left {
    margin-top: 110px;
  }
  .section-left a img {
    max-width: 450px;
  }
}
@media screen and (max-width: 488px) {
  .section-content {
    display: flex;
    display: inline-block;
    gap: 30px;
  }
  .section-right {
    margin-top: 50px;
  }
  .section-right h1 {
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 600;
    line-height: 44.1px;
    margin-top: 54px;
  }
  .section-right p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 31.6px;
    margin-top: 24px;
  }
  .section-right button {
    margin-top: 24px;
  }
  .section-left {
    margin-top: 110px;
  }
  .section-left a img {
    max-width: 323px;
  }
}
@media screen and (max-width: 360px) {
  .section-content {
    display: flex;
    display: inline-block;
    gap: 30px;
  }
  .section-right {
    margin-top: 50px;
  }
  .section-right h1 {
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 600;
    line-height: 44.1px;
    margin-top: 54px;
  }
  .section-right p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 31.6px;
    margin-top: 24px;
  }
  .section-right button {
    margin-top: 24px;
  }
  .section-left {
    margin-top: 110px;
  }
  .section-left a img {
    max-width: 240px;
  }
}
.Service {
  background-color: #f1f8ff;
}
.Service-content {
  display: flex;
  gap: 173px;
}
.Service h1 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 75.84px;
  margin-bottom: 40px;
  padding-top: 80px;
}
.Service-left {
  margin-bottom: 120px;
  max-width: 500px;
}
.Service-left h3 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: 31.6px;
  margin-top: 36px;
}
.Service-left p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 31.6px;
  margin-top: 12px;
  margin-bottom: 40px;
}
.Service-right {
  max-width: 500px;
}
.Service-right .h3 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: 31.6px;
  margin-top: 36px;
}
.Service-right .p1 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 31.6px;
  margin-top: 12px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .Service {
    background-color: #f1f8ff;
  }
  .Service-content {
    display: flex;
    gap: 40px;
  }
}
@media screen and (max-width: 610px) {
  .Service {
    background-color: #f1f8ff;
  }
  .Service-content {
    display: flex;
    display: inline-block;
    gap: 50px;
  }
  .Service h1 {
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 600;
    line-height: 75.84px;
    margin-bottom: 40px;
    padding-top: 32px;
  }
  .Service-left {
    margin-bottom: 100px;
    max-width: 500px;
  }
  .Service-left h3 {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 31.6px;
    margin-top: 36px;
  }
  .Service-left p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 31.6px;
    margin-top: 12px;
    margin-bottom: 40px;
  }
  .Service-right {
    max-width: 500px;
  }
  .Service-right .h3 {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 31.6px;
    margin-top: 36px;
  }
  .Service-right .p1 {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 31.6px;
    margin-top: 12px;
    margin-bottom: 40px;
  }
}
.lowst {
  background-color: #190422;
}
.lowst-content {
  padding-top: 72px;
}

/*# sourceMappingURL=main.css.map */
